	.card{
		  position:relative;
		  display:-ms-flexbox;
		  display:flex;
		  -ms-flex-direction:column;
		  flex-direction:column;
		  min-width:0;
		  word-wrap:break-word;background-color:#fff;
		  background-clip:border-box;
		  border:1px solid rgba(0,0,0,.125);
		  border-radius:.25rem;
	}
	.col-sm{
			position:relative;
			width:100%;
			min-height:1px;
			padding-right:15px;
			padding-left:15px
	}

	.card-body{
		-ms-flex:1 1 auto;
		flex:1 1 auto;
		padding:1.25rem
	}

	.card-title{
		margin-bottom:.75rem
	}

    #contenedorElias{
    	padding-bottom: 20px;
    }

    #contenedorCarta{
    	width: 22rem; 
    	padding: 10px 10px 10px 10px;
    }